body {
  background-color: hsl(217, 100%, 97%);
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

label {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.select-plan,
.thank-you {
  display: block;
}

.pick-add-ons-container .name-label,
.email-label,
.phone-number-label {
  color: hsl(213, 96%, 18%);
}

.name-error,
.email-error,
.phone-error,
.email-format-error,
.phone-format-error {
  color: hsl(354, 84%, 57%) !important;
  display: none;
}

.mobile-svg,
.mobile-steps-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: none;
}

.mobile-steps-container {
  min-height: -5vh;
}

.info-container {
  max-width: 720px;
  background-color: hsl(0, 0%, 100%);
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.steps-container {
  background-color: hsl(243, 100%, 62%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.steps-container {
  position: relative;
}

.steps-info {
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

.main-info {
  margin-bottom: 10px;
}

.steps-svg {
  position: absolute;
  top: 10;
  left: calc(100% + -240px);
}

.blue-border {
  color: hsl(213, 96%, 18%);
}

.primary-colors {
  color: hsl(213, 96%, 18%);
  color: hsl(243, 100%, 62%);
  color: hsl(228, 100%, 84%);
  color: hsl(206, 94%, 87%);
  color: hsl(354, 84%, 57%);
}

.neutral-color {
  color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color: hsl(217, 100%, 97%);
  color: hsl(231, 100%, 99%);
  color: hsl(0, 0%, 100%);
}

.steps-svg {
  bottom: 0;
  width: 100%;
}

h1 {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}

.btn-next-step {
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  width: 130px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.btn-info {
  display: flex;
  justify-content: flex-end;
}

.personal-info-container {
  padding-left: 50px;
  padding-right: 10px;
}

.personal-info-container h1 {
  margin-top: 50px;
}

.personal-info-container p {
  font-size: 16px;
  color: hsl(231, 11%, 63%);
}

.numbers-icon {
  font-size: 10px;
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50px;
  border: 1px solid hsl(0, 0%, 100%);
}

.active-style {
  background-color: hsl(228, 100%, 84%);
  color: hsl(213, 96%, 18%) !important;
  border: 1px solid hsl(228, 100%, 84%);
  padding: 11px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 50px;
  font-weight: 800;
}

.step-number {
  font-size: 12px;
  opacity: 0.7;
  padding-bottom: 12px;
  position: relative;
  top: -10px;
}

.main-info {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  left: 76px;
  top: -17px;
}

.phone-number,
.email,
.name {
  padding: 10px;
}

.select-plan .payment {
  margin: 7px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  width: 114px;
  padding-bottom: 10px;
  cursor: pointer;
}

.select-plan .payment:hover,
.online-service:hover {
  cursor: pointer;
}

.the-space {
  padding: 10px;
}

.select-plan .payment-icon {
  font-size: 15px;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 50px;
  border: 1px solid hsl(0, 0%, 100%);
}

.payment.active,
.online-service.active {
  background-color: hsl(217, 100%, 97%);
  border: 1px solid hsl(213, 96%, 18%);
}

.fa-chess-pawn {
  background-color: hsl(23, 100%, 75%);
  color: hsl(0, 0%, 100%);
}

.fa-gamepad {
  background-color: hsl(354, 91%, 74%);
  color: hsl(0, 0%, 100%);
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.fa-puzzle-piece {
  background-color: hsl(243, 100%, 62%);
  color: hsl(0, 0%, 100%);
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.months-free {
  font-size: 11px;
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.monthly-yearly {
  padding: 8px;
  margin-top: 10px;
  background-color: hsl(217, 100%, 97%);
  font-size: 14px;
  margin-bottom: 13px;
}

.monthly-section {
  color: hsl(213, 96%, 18%);
  padding-right: 15px;
  font-weight: 600;
}

.yearly-sector {
  padding-left: 15px;
  font-weight: 600;
  color: hsl(231, 11%, 63%);
}

.first-toggle-icon,
.second-toggle-icon {
  font-size: 24px;
  position: relative;
  top: 3px;
  color: hsl(213, 96%, 18%);
}

.second-toggle-icon,
.months-free {
  display: none;
}

.toggle-range {
  width: 22px;
  font-size: 24px;
  position: relative;
  top: 3px;
  background-color: hsl(213, 96%, 18%);
}

.space-between {
  padding: 12px;
}

.first-go-back,
.second-go-back {
  display: flex;
  justify-content: space-between;
}

.go-back {
  position: relative;
  top: 54px;
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.confirm-go-back {
  top: 86px;
}

.year {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.per-year {
  display: none;
}

.title {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.pick-add-ons input[type="checkbox"] {
  width: 16px !important;
  height: 16px !important;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

.online-service .services {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  position: relative;
  top: -10px;
}

.first-services {
  display: flex;
  justify-content: space-between;
}

.checkbox-services {
  position: relative !important;
}

.pick-add-ons .access {
  position: relative;
  left: 35px;
  top: -12px;
  color: hsl(231, 11%, 63%);
}

.plus-month,
.plus-year {
  color: hsl(243, 100%, 62%);
}

.plus-year {
  display: none;
}

.online-service {
  border: 1px solid hsl(229, 24%, 87%);
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.type-2 {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.plus-plus,
.arcade-monthly,
.online-plus-plus {
  color: hsl(213, 96%, 18%) !important;
  font-weight: 500;
}

.plus-plus {
  position: relative;
  top: 13px;
}

.finishing-up a {
  color: hsl(231, 11%, 63%);
}

.finish-service,
.month-total {
  color: hsl(231, 11%, 63%);
}

.finishing-up-change,
.total-per-month {
  display: flex;
  justify-content: space-between;
}

.price-total {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
}

.confirm-button {
  background-color: hsl(243, 100%, 62%);
}

.thank-you h1 {
  margin-top: 0;
}

.check-mark {
  color: white;
  background-color: hsl(354, 91%, 74%);
  margin-top: 180px;
  font-size: 32px;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.thank-you p {
  margin-bottom: 155px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .mobile-svg {
    display: block;
  }

  .mobile-steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first-step-container,
  .select-plan,
  .pick-add-ons,
  .finishing-up,
  .thank-you {
    display: flex;
    justify-content: center;
  }

  .centered {
    display: flex;
    justify-content: center;
  }

  .info-container {
    position: relative;
    top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 340px;
  }

  .mobile-steps-container .numbers-icon {
    margin-top: 40px;
    margin-left: 7px;
  }

  .steps-container {
    display: none;
  }

  .personal-info-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .payment-plan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .payment-plan-icon {
    display: flex;
  }

  .select-plan .payment {
    width: 300px;
    padding-top: 20px;
  }

  .payment-icon {
    margin-right: 20px;
  }

  .payment-content-info {
    margin-right: 30px;
  }
}
