body {
  background-color: hsl(217, 100%, 97%);
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

label {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.mobile-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: none;
}

.mobile-steps-container {
  min-height: -5vh;
}

.info-container {
  max-width: 720px;
  background-color: hsl(0, 0%, 100%);
  margin-top: 50px;
  border-radius: 10px;
}

.steps-container {
  background-color: hsl(243, 100%, 62%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.steps-container {
  position: relative;
}

.steps-info {
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

.main-info {
  margin-bottom: 10px;
}

.steps-svg {
  position: absolute;
  top: 10;
  left: calc(100% + -240px);
}

.primary-colors {
  color: hsl(213, 96%, 18%);
  color: hsl(243, 100%, 62%);
  color: hsl(228, 100%, 84%);
  color: hsl(206, 94%, 87%);
  color: hsl(354, 84%, 57%);
}

.neutral-color {
  color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color: hsl(217, 100%, 97%);
  color: hsl(231, 100%, 99%);
  color: hsl(0, 0%, 100%);
}

.steps-svg {
  bottom: 0;
  width: 100%;
}

.personal-info-container h1 {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}

.btn-next-step {
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  width: 130px;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.btn-info {
  display: flex;
  justify-content: flex-end;
}

.personal-info-container {
  padding-left: 50px;
  padding-right: 10px;
}

.personal-info-container h1 {
  margin-top: 50px;
}

.numbers-icon {
  font-size: 10px;
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50px;
  border: 1px solid white;
}

.step-number {
  font-size: 12px;
  opacity: 0.7;
  padding-bottom: 12px;
  position: relative;
  top: -10px;
}

.main-info {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  left: 76px;
  top: -17px;
}

.phone-number,
.email,
.name {
  padding: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .mobile-svg {
    display: block;
  }

  .mobile-steps-container {
    display: flex;
    justify-content: center;
  }

  .info-container {
    position: relative;
    top: -23px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 345px;
  }

  .mobile-steps-container .numbers-icon {
    margin-top: 40px;
    margin-left: 7px;
  }

  .steps-container {
    display: none;
  }

  .personal-info-container {
    padding-left: 20px;
    padding-right: 20px;
    
  }
}
